<h4 style="font-family:cursive;text-align: center;">Map Result </h4>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.276271896476!2d77.37672125012006!3d28.62148088233597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ceff42528a613%3A0x9d28c928f1474a32!2sChetu!5e0!3m2!1sen!2sin!4v1645267763938!5m2!1sen!2sin" width="1100" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		</div>
	</div>
</div>

